{% extends "base.html.twig" %}

{% block title %}Check!{% endblock %}

{% block content %}
<h2>Hang that man</h2>
<h3>{{ result }}</h3>
<a href="/guess"><button>Guess again</button></a>
{% endblock %}
